.social-login    
    a(href=routes.github)
        button.social-login-github
            span
                i.fab.fa-github        
    a(href=routes.facebook)
        button.social-login-facebook
            span
                i.fab.fa-facebook       
    button.social-login-google
        span
            i.fab.fa-google-plus       