.footer {
    position: absolute;
    bottom: 0;
    margin: 2px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .footer__icon {
        color: rgba(0, 0, 0, 0.2);
        font-size: 20px;
        margin-bottom: 0px;
    }

    .footer__text {
        color: rgba(0, 0, 0, 0.2);
        font-weight: 800;
        text-transform: uppercase;
    }
}