extends layout/main

block content
    div.form-container
        form(action=`/users/${routes.changePW}`, method="post")
            input(name="oldPassword", type="password", placeholder="Current Password")
            input(name="newPassword1", type="password", placeholder="New Password")
            input(name="newPassword2", type="password", placeholder="Verify New Password")
            input(type="submit", value="Change Password")