extends layout/main

block content
    p change Password
    div.form-container
        form(action=routes.editProfile, method="post")
            input(type="password", placeholder="password", name="password")
            input(type="password", name="password" placeholder="password")
            input(type="submit", value="Change Password")