extends layout/main

block content
    block content
    .form-container
        form(action=`/users${routes.editProfile}`, method="post", enctype="multipart/form-data")
            .fileUpload
                label(for="avatar") Avatar
                input(id="avatar", name="avatar", type="file", accept="image/*")
            input(name="name", type="text", placeholder="Name", value=loggedUser.name)
            input(name="email", type="email", placeholder="Email", value=loggedUser.email)
            input(type="submit", value="Update Profile")
        