extends layout/main

block content
    p login
     .form-container
        form(action=routes.login, method="post")
            input(name="email", type="email", placeholder="Email", required=true)
            input(name="password", type="password", placeholder="Password", required=true)
            input(type="submit", value="Log In")
    
    include partials/snslogin.pug

    