extends layout/main
include mixins/video

block content
    .search__header
        h3 Searching for #{searchingBy}
    .search__videos 
        if videos.length == 0
            h5 no video found
        each video in videos
            +videoBlock({
                videoFile: video.videoFile,
                title: video.title,
                description: video.description,
                views: video.views,
                id:video.id
            })

    p search


    