extends layout/main

block content
    div.form-container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            div.fileUpload
                label(for="file") Video File
                input(id="file", name="videoFile", type="file", required=true, accept="video/*")
            input(name="title", type="text", placeholder="Title", required=true)
            textarea(name="description", placeholder="Description", required=true)
            input(type="submit", value="Upload Video")

    