extends layout/main

block content
    p Edit Video
    div.form-container
        label(for="video") video
            input(type="file", id="video", name="video")
            input(type="text", placeholder="Title", name="Title")
            input(type="text", name="description" placeholder="description")
            input(type="submit", value="Update Video")
    a.form-container__link(href=`/videos/${routes.delete}/delete`) Delete Video   
