doctype html
html
    head
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css", rel="stylesheet")
        link(href="/static/styles.css", rel="stylesheet")
        title #{pageTitle} | MyTUBE
        
    include ../partials/header
    main
        p
        block content
    include ../partials/footer
    script(src="/static/main.js")